stages:
  - test
  - deploy

cache:
  paths:
    - vendor/

test:
  stage: test
  script:
    - docker compose run --rm composer ls -latr
#    - docker compose up composer
#    - docker compose up php-cli

deploy:
  stage: deploy
  script:
    - apk add curl
    - 'curl --fail-with-body --header "Job-Token: $CI_JOB_TOKEN" --data branch=main "${CI_API_V4_URL}/projects/$CI_PROJECT_ID/packages/composer"'
#    - 'curl --fail-with-body --header "Job-Token: $CI_JOB_TOKEN" --data tag=v1.0.0 "${CI_API_V4_URL}/projects/$CI_PROJECT_ID/packages/composer"'
  when: manual
